@{ ViewBag.Title = "درباره‌ی ما"; }
@section head{
    <style>
        .section-title {
            color: #E86D00;
        }
    </style>
}
<main class="row">
    <section class="col-sm-12 heading">
        <h2>مؤسسه‌ی فرهنگی هنری پرنیان اندیشه هنر</h2>
    </section>
    <div class="col-sm-10 col-sm-offset-1">
        <p>مؤسسه‌ی فرهنگی هنری پرنیان اندیشه هنر با هدف ارتقای سطح دانش و بینش عمومی و اعتلای فرهنگ و هنر کشور و ترویج و اشاعه‌ی فرهنگ و هنر اصیل ایرانی و اسلامی طی هفده سال فعالیت، با بهره‌گیری از توان فکری و هنری جوانان هنرمند و خلاق کشور توانسته است کارنامه‌ي درخشانی در زمینه‌های فرهنگی، هنری و تبلیغاتی داشته باشد.این مؤسسه در زمینه‌های زیر فعالیت می‌کند:</p>
        <section class="fields">
            <h3 class="section-title">تهیه و تولید مجموعه برنامه‌ها و مسابقات تلویزیونی</h3>
            <p>طراحی، تولید و مشارکت در ده‌ها مجموعه‌ی سرگرمی و آموزشی تلویزیونی جزو افتخارات مؤسسه‌ی پرنیان هستند. برخی از این عناوین:</p>
            <ul>
                <li>مجموعه‌ی تلویزیونی حکمت مطهر</li>
                <li>مجموعه‌ی تلویزیونی رایحه</li>
                <li>مجموعه آموزشی آشنایی با امنیت شبکه‌ها</li>
                <li>مجموعه‌ي علمی آموزشی چیستا</li>
                <li>مجموعه برنامه‌های علم با طعم لذت</li>
                <li>مجموعه برنامه‌های شانزده هزار</li>
                <li>مسابقه‌ی سرزمین دانایی</li>
                <li>مسابقه‌ی نقطه‌ی طلایی</li>
                <li>مسابقه‌ی حرفه‌ای‌ها</li>
                <li>مسابقه‌ی فوت و فن</li>
            </ul>
            <p>و ...</p>
        </section>
        <section class="fields">
            <h3 class="section-title">تیزرهای تبلیغاتی</h3>
            <p>جذب مشتری و مخاطب با شیوه‌های نوین و خلاقانه از اصول اولیه‌ی رقابت تجاری و اقتصادیست. از این رو مؤسسه‌ی پرنیان با ارائه‌ی ایده‌ها و فرم‌های خلاقانه در تولید تیزرهای تبلیغاتی به صورت رئال و انیمیشن (سه بعدی) کارنامه‌ای موفق را به صاحبان صنایع و تولیدکنندگان محصول ارائه نموده است. برخی نمونه‌ها عبارتند از:</p>
            <ul>
                <li>تیزرهای شرکت سروش</li>
                <li>تیزر فراخوان مشاوران جوان ریاست جمهوری</li>
                <li>مدل‌سازی شهرک توریستی سبلان</li>
                <li>تیزر آبمیوه‌ی روزشتاک</li>
                <li>تیزر لوازم ورزشی پیشتاز</li>
                <li>تیزر محصولات سن‌سای</li>
                <li>تیزر زبا‌کده‌ی ملی ایران</li>
                <li>تیزرهای بانک صادرات</li>
                <li>تیزر جشنواره‌ی ایران جوان بمان</li>
                <li>تیزر موبایل OROD</li>
                <li>تیزر سایت بازیکده</li>
                <li>رنگ سهند</li>
                <li>پوشک پنبه ریز</li>
                <li>نخ دندان مینا</li>
                <li>شامپو فینس</li>
                <li>شیرآلات ماهان</li>
                <li>تیزر مسابقات ایران موبی کد</li>
                <li>تیزر تولید ملی</li>
            </ul>
            <p>و ...</p>
        </section>
        <section class="fields">
            <h3 class="section-title">انیمیشن (پویانمایی)</h3>
            <p>تولید مجموعه‌ها و آیتم‌های انیمیشنی که جایگاه قابل توجهی در بین مخاطبان و به ویژه رده‌های سنی پایین‌تر دارد از تخصص‌های اصلی مؤسسه‌ی پرنیان بوده و این مؤسسه توجه ویژه‌ای به طراحی و تولید انیمیشن‌های با کیفیت بالا و خلاقانه دارد که برخی از آن‌ها برگزیده‌ی جشنواره‌های تخصصی این حوزه نیز گردیده‌اند مانند:</p>
            <ul>
                <li>مجموعه انیمیشن یاغشی‌ها (اولین مجموعه انیمیشن در مورد داعش)</li>
                <li>انیمیشن‌های شرکت گاز</li>
                <li>انیمیشن‌های نیروی انتظامی</li>
                <li>انیمیشن‌های هشداردهنده‌ی وزارت دفاع</li>
                <li>انیمیشن حامیان آب</li>
            </ul>
            <p>و...</p>
        </section>
        <section class="fields">
            <h3 class="section-title">فیلم‌های مستند</h3>
            <p>از دیگر موضوعات فعالیت مؤسسه‌ي پرنیان، بررسی و پرداختن به موضوعات خاص و مورد نظر سفارش‌دهندگان به صورت مستند است. بازسازی موضوعات و تحلیل آن به جهت آموزش و درک درست مخاطبان از موضوع جزو ویژگی‌های این فرم ارائه هستند که البته از تاثیر بالایی به جهت روایت واقعی موضوع و داستان در بین مخاطبان برخوردارند. نمونه‌های زیر از این گونه‌اند:</p>
            <ul>
                <li>مستند جاسوسی در صنایع دریایی</li>
                <li>مستند به همین سادگی (روایت نخبگان علمی در دام جاسوسی)</li>
                <li>مستند عملیات روانی</li>
                <li>مستند مترو</li>
                <li>مستند بچه‌های مفید (شهدای مدرسه مفید)</li>
            </ul>
            <p>و ...</p>
        </section>
        <section class="fields">
            <h3 class="section-title">ساخت موسیقی و کلیپ</h3>
            <p>تولید و ساخت موسیقی در قالب‌های کلیپ ویدئو، موسیقی تیزر و موسیقی فیلم از مواردی است که مؤسسه‌ی پرنیان به آن اهتمام ویژه‌ای داشته و تولیدی بودن موسیقی در هر بخش و دوری از استفاده موسیقی آرشیوی از اصول اولیه‌ی تولیدات مجموعه است. در این راه از همراهی اساتید موسیقی و شعرای صاحب سبک و خوانندگان هنرمند کشور بهره برده‌ایم. تولید کلیپ موسیقی برای سازمان‌ها و با موضوعات مختلف از این قبیل‌اند:</p>
            <ul>
                <li>کلیپ این نسل‌های ما</li>
                <li>کلیپ جاودانه‌ها</li>
                <li>کلیپ پیر فرزانه (حائز جایزه‌ی نگاه ویژه‌ی جشنواره‌ی عمار)</li>
                <li>کلیپ آیه‌های اقتدار</li>
                <li>کلیپ عهدی روشن</li>
                <li>کلیپ مهر پایداری</li>
                <li>کلیپ کارگر ایرانی</li>
            </ul>
            <p>و ...</p>
        </section>
        <section class="fields">
            <h3 class="section-title">جلوه‌های ویژه</h3>
            <p>از دیگر فعالیت‌های مؤسسه که در کنار و همراه ساخت انیمیشن و کلیپ صورت می‌پذیرد، جلوه‌های ویژه‌ی تصویری است که کمک شایانی به کیفیت اثر و کاهش هزینه می‌نماید.</p>
            <ul>
                <li>ساخت مدل هواپیمای ایلوشن و حریق آن در مستند پرواز 313</li>
                <li>تولید تیزرهای کارت هدیه‌ی بانک صادرات</li>
                <li>تیزر ایران جوان بمان</li>
            </ul>
            <p>و...</p>
        </section>
        <section class="fields">
            <h3 class="section-title">سایت اینترنتی و مالتی‌مدیا</h3>
            <p>طراحی وب سایت‌ها و مالتی‌مدیا جهت معرفی فعالیت‌های مؤسسات، سازمان‌ها و کارخانجات با بهره‌گیری از طراحی خلاقانه و زیبا همراه با امنیت بالا و استفاده از تکنیک‌های برنامه نویسی جهت بالا بردن رنکینگ سایت در صفحات جستجوی اینترنتی مانند سایت‌های:</p>
            <ul>
                <li>پدران آسمانی</li>
                <li>سایت قرآنی السدید</li>
                <li>عصر انتظار</li>
                <li>برج نیایش</li>
                <li>مجتمع سارینا کیش 1</li>
                <li>شرکت بیودارو</li>
                <li>سایت پرنیان</li>
                <li>فروشگاه اینترنتی ماناتک</li>
            </ul>
            <p>و...</p>
        </section>
        <section class="fields">
            <h3 class="section-title">گرافیک</h3>
            <p>
                استفاده از نیروهای هنرمند و خلاق در طراحی گرافیک همواره از مزیت‌های پرنیان در جهت جلب رضایت مشتریان بوده است که شامل موضوعات زیر می‌شود:
                طراحی پوستر، آرم، کاتالوگ، ست‌های اداری، تصویرسازی کتاب کودک، طراحی و صفحه‌آرایی نشریات مختلف و کتب گوناگون می باشد. برخی از فعالیت‌های مؤسسه در این زمینه:
            </p>
            <ul>
                <li>نشریه‌ی معیار</li>
                <li>نشریه‌ی تذکره</li>
                <li>طراحی کیهان ورزشی</li>
                <li>آرمان دانشجو</li>
                <li>نشریه‌ی جوان</li>
                <li>ماهنامه‌ی محک</li>
                <li>ویژه‌نامه‌ی وام</li>
                <li>نشریه‌ی جنبش بیداری</li>
                <li>بولتن باشگاه پاس</li>
                <li>دیده‌بان</li>
                <li>نگاه هفتم</li>
                <li>خانه هفتم (ویژه انتخابات مجلس)</li>
                <li>امید انقلاب</li>
                <li>ویژه‌نامه‌ی نمایشگاه معراج</li>
                <li>ویژه‌نامه‌ی نقد</li>
                <li>کتاب تلخه نارنج، کامران نجف‌زاده</li>
                <li>کتاب آوینی</li>
                <li>مشروطه خواهی</li>
                <li>معمای هویدا</li>
                <li>نشریه‌ی مبین</li>
            </ul>
            <p>و ده‌ها عنوان نشریه و کتب دیگر.</p>
        </section>
        <section class="fields">
            <h3 class="section-title">همایش‌ها و نمایشگاه‌ها</h3>
            <p>مؤسسه‌ی پرنیان سابقه و تجربه‌ی حضور و برپایی همایش‌ها و نمایشگاه‌های زیر را در کارنامه‌ی خود دارد:</p>
            <ul>
                <li>زخم عشق</li>
                <li>بانک ایده</li>
                <li>جشنواره‌ی عکس عاشورا</li>
                <li>ممتازین و مبتکرین</li>
                <li>کنگره‌ی مسئولان بسیج</li>
                <li>طرح معرفت</li>
                <li>گام دوم</li>
                <li>جشنواره‌ی صدای ماندگار رادیو</li>
                <li>جشنواره‌ی ورزشی وحدت</li>
                <li>همایش 13 آبان</li>
                <li>همایش چمران</li>
                <li>عدالت</li>
                <li>ریحانه</li>
                <li>طرح ولایت</li>
                <li>نمایشگاه حماسه‌ی دلاوران معراج</li>
                <li>نمایشگاه قرآن</li>
                <li>بنیاد فردوسی</li>
                <li>همایش عهدی روشن</li>
            </ul>
            <p>و ...</p>
        </section>
        <section class="fields">
            <h3 class="section-title">همکاران</h3>
            <p>برخی از نهادها ، سازمان‌ها و مؤسسات دولتی و غیر دولتی که این مؤسسه افتخار همکاری با آنان را داشته است عبارتند از:</p>
            <ul>
                <li>نهاد ریاست جمهوری</li>
                <li>وزارت فرهنگ و ارشاد اسلامی</li>
                <li>وزارت جهاد کشاورزی</li>
                <li>وزارت دفاع</li>
                <li>وزارت نفت</li>
                <li>وزارت کشور</li>
                <li>نیروی انتظامی</li>
                <li>شرکت ملی گاز ایران</li>
                <li>سازمان بهزیستی کشور</li>
                <li>کتابخانه‌ی مجلس شورای اسلامی</li>
                <li>نهاد رهبری دانشگاه هنر</li>
                <li>بنیاد حفظ آثار و ارزش‌های دفاع مقدس</li>
                <li>سازمان تامین اجتماعی</li>
                <li>سازمان ثبت احوال کشور</li>
                <li>بنیاد غدیر</li>
                <li>شبکه‌ی سحر سیما</li>
                <li>شبکه‌ی آموزش سیما</li>
                <li>شبکه‌ی رادیویی جوان</li>
                <li>گزینش صدا و سیما</li>
                <li>انتشارات سروش</li>
                <li>فرهنگسرای انقلاب</li>
                <li>فرهنگسرای رسانه</li>
                <li>فرهنگسرای جوان (خاوران)</li>
                <li>باشگاه ورزشی و فرهنگی پاس</li>
                <li>شرکت هواپیمایی جمهوری اسلامی (هما)</li>
                <li>داروسازی رازی</li>
                <li>مؤسسه‌ی آرمان</li>
                <li>نشریات دانشجویی دانشگاه‌های مختلف</li>
                <li>شرکت‌های خصوصی تولیدی و صنعتی</li>
                <li>شرکت بهره‌برداری مترو</li>
                <li>بنیاد فردوسی</li>
                <li>سازمان هنری رسانه‌ای اوج</li>
            </ul>
            <p>و...</p>
        </section>
    </div>
</main>
