@{ ViewBag.Title = "بازنشانی رمز"; }

<div class="well" style="background-color: white;">
    رمز حساب شما عوض شد. لطفا برای ورود مجدد
    @Html.ActionLink("کلیک کنید", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</div>