body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    font-family: Vazir, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

form-heading, checkbox {
    margin-bottom: 10px;
}

.checkbox {
    font-weight: normal;
}

.g-recaptcha {
    min-height: 78px;
    background-color: #F9F9F9;
    margin-bottom: 5px;
    border-radius: 3px;
}

.rtl-placeholder:placeholder-shown {
    direction: rtl;
}

/*#region input-list-group*/
.input-list-group > .input-group + .input-group {
    margin-top: -1px;
}

.input-list-group .form-control {
    height: 45px;
    margin-right: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-list-group .form-control:focus {
    z-index: 3;
}

.input-list-group .input-group:first-of-type > .form-control {
    border-top-left-radius: 4px;
}

.input-list-group .input-group:first-of-type > .input-group-addon {
    border-top-right-radius: 4px;
}

.input-list-group .input-group:last-of-type > .form-control {
    border-bottom-left-radius: 4px;
}

.input-list-group .input-group:last-of-type > .input-group-addon {
    border-bottom-right-radius: 4px;
}
/*#endregion input-list-group*/
