h2, h3 {
    margin: 0;
}

.video-container {
    padding: 10px;
}

.video {
    width: 470px;
    height: 190px;
    float: right;
    padding: 10px 0;
    background-color: #F4F4F4;
    border-radius: 3px;
}

.video-img, .video-desc-container {
    position: relative;
    padding: 0 10px;
    float: right;
}

.video-img > img {
    display: block;
    width: 260px;
    height: 145px;
    cursor: pointer;
    background-color: darkgray;
}

.video-desc-container {
    width: 170px;
    height: 140px;
    overflow: hidden;
    font-size: 12px;
}

.video-title {
    font-size: 17px;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-my-size {
    width: 700px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.modal-content {
    background-color: #191919;
    color: #808080;
}

.modal-header {
    border-bottom: none;
}

.modal-backdrop.in {
    opacity: 0.9;
}

.modal-my-size video {
    display: block;
    margin: auto;
}

.modal-my-size #video-desc {
    font-size: 12px;
}

.modal {
    text-align: center;
    padding: 0 !important;
}
