@{
    ViewBag.Title = "مدیریت فایل";
    ViewBag.Sidebar_Location = "file-manager";
    ViewBag.HasPageHeader = false;
}

@section head{
    <link href="~/Content/dropzone@4.2.0/basic.min.css" rel="stylesheet" />
    <link href="~/Content/dropzone@4.2.0/dropzone.min.css" rel="stylesheet" />
    <link href="~/Content/kaveh/kaveh.min.css?v=3" rel="stylesheet" />
}

<div class="row" style="margin-top: 15px;">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
            <div class="panel-body" style="padding:0 15px;">
                @{ Html.RenderAction("_Partial", "FileManager", new { area = "Kaveh" }); }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/dropzone@4.2.0/dropzone.min.js"></script>
    <script src="~/Content/kaveh/kaveh.min.js?v=2"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var kfm = new KavehFileManager();
        });
    </script>
}