.kaveh {
    /* caption: operating system font.
        Ubuntu: Ubuntu Font.
      Yosemite: Helvetica.
    El Capitan: San Francisco.
     Microsoft: Segoe UI.*/
    position: relative;
    background-color: white;
}

.panel-body.kaveh {
    padding-top: 0;
    padding-bottom: 0;
}

.kaveh .dropdown-menu > li {
    cursor: pointer;
}

.kaveh .input-group .form-control {
    z-index: initial;
}

/*#region tool bar*/
/*--------------------------------------------------------*/
.kaveh .k-tool-bar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f5f6f7;
    border-bottom: 1px solid #dadbdc;
}
/*#endregion tool bar*/

/*#region adress bar*/
/*--------------------------------------------------------*/
.kaveh .k-address-bar {
    padding-top: 5px;
    padding-bottom: 5px;
    /*border-bottom: 1px solid #343C45;*/
}
/*#endregion adress bar*/

/*#region explorer*/
/*--------------------------------------------------------*/
.kaveh .k-content-wrapper {
    position: relative;
    margin-top: 8px;
    /*border-bottom: 1px solid #343C45;*/
}
/*#endregion explorer*/

/*#region viewbox*/
/*--------------------------------------------------------*/
.kaveh .k-viewbox-wrapper {
    width: 100%;
}

@media (min-width: 768px) {
    .kaveh .k-hasNavPane-hasViewBox .k-viewbox-wrapper {
        padding-left: 216px;
    }
}

.kaveh .k-viewbox {
    height: calc(100vh - 350px);
    min-height: 200px;
    overflow: auto;
    /*padding-top: 15px;
    padding-bottom: 15px;*/
    padding: 15px 0;
    margin: 0;
    list-style: none;
    font-family: caption, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.kaveh .k-viewbox > li {
    display: block;
    width: 50%;
    float: left;
}

@media (min-width: 401px) {
    .kaveh .k-viewbox > li {
        width: 33.33333%;
    }
}

@media (min-width: 851px) {
    .kaveh .k-viewbox > li {
        width: 25.00000%;
    }
}

@media (min-width: 992px) {
    .kaveh .k-viewbox > li {
        width: 20.00000%;
    }
}

@media (min-width: 1200px) {
    .kaveh .k-viewbox > li {
        width: 16.66667%;
    }
}

@media (min-width: 1440px) {
    .kaveh .k-viewbox > li {
        width: 135px;
    }
}

.kaveh .k-viewbox-msg {
    display: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: gray;
}

/*---------------------
         file         |
----------------------*/
.kaveh .k-file {
    position: relative;
    display: block;
    width: 105px;
    min-height: 116px;
    max-height: 162px;
    border: 1px solid transparent;
    /*margin: 0px 10px 1px 10px;
    float: left;*/
    margin: auto;
}

.kaveh .k-file:hover:not(.k-selected) {
    background-color: #e5f3fb;
    border-color: #70c0e7;
}

.kaveh .k-file-icon {
    position: relative;
    width: 103px;
    height: 90px;
    margin: 3px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* types */
.kaveh .k-type-aspx .k-file-icon {
    background-image: url("img/types/aspx.png");
}

.kaveh .k-type-config .k-file-icon {
    background-image: url("img/types/config.png");
}

.kaveh .k-type-csharp .k-file-icon {
    background-image: url("img/types/cSharp.png");
}

.kaveh .k-type-cshtml .k-file-icon {
    background-image: url("img/types/cshtml.PNG");
}

.kaveh .k-type-dll .k-file-icon {
    background-image: url("img/types/dll.png");
}

.kaveh .k-type-folder .k-file-icon {
    background-image: url("img/types/folder.png");
}

.kaveh .k-type-font .k-file-icon {
    background-image: url("img/types/font.png");
}

.kaveh .k-type-html .k-file-icon {
    background-image: url("img/types/html.PNG");
}

.kaveh .k-type-javascript .k-file-icon {
    background-image: url("img/types/javascript.png");
}

.kaveh .k-type-json .k-file-icon {
    background-image: url("img/types/json.png");
}

.kaveh .k-type-movie .k-file-icon {
    background-image: url("img/types/movie.png");
}

.kaveh .k-type-other .k-file-icon {
    background-image: url("img/types/other.png");
}

.kaveh .k-type-pdf .k-file-icon {
    background-image: url("img/types/pdf.png");
}

.kaveh .k-type-program .k-file-icon {
    background-image: url("img/types/program.png");
}

.kaveh .k-type-sound .k-file-icon {
    background-image: url("img/types/sound.png");
}

.kaveh .k-type-stylesheet .k-file-icon {
    background-image: url("img/types/stylesheet.png");
}

.kaveh .k-type-text .k-file-icon {
    background-image: url("img/types/text.png");
}

/* image file */
.kaveh .k-img-ctr {
    position: absolute;
    width: 103px;
    bottom: 0;
}

.kaveh .k-img-ctr > img {
    display: block;
    margin: auto;
    width: auto;
    max-width: 90px;
    height: auto;
    max-height: 90px;
    /*vertical-align: middle;*/
    box-shadow: 0 0 5px gray;
}
/* file name */
.kaveh .k-file-name {
    width: 103px;
    height: 64px;
    padding: 0 6px;
    text-align: center;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* file select */
.kaveh .k-file.k-selected {
    background-color: #cbe8f6;
    border-color: #26a0da;
}

.kaveh .k-file-select {
    position: absolute;
    /*display: none;*/
    visibility: hidden;
    top: 5px;
    left: 5px;
    margin: 0;
    padding: 0;
}

.kaveh .k-file-select:checked,
.kaveh .k-file:hover .k-file-select:not(:checked) {
    /*display: block;*/
    visibility: visible;
}

/* option list */
.kaveh .k-optn-list {
    position: absolute;
    display: none;
    width: 22px;
    height: 22px;
    background-color: #f0f0f0;
    border: 1px solid #9b9b9b;
    top: 0;
    right: 0;
    overflow: auto;
}

.kaveh .k-optn-list > div {
    display: none;
}

.kaveh .k-file:hover .k-optn-list {
    display: block;
}

.kaveh .k-optn-list:hover {
    width: 101px;
    height: 158px;
}

.kaveh .k-optn-list:hover > div {
    display: block;
}
/* option item */
.kaveh .k-optn-item {
    padding: 2px;
    cursor: pointer;
    border: 1px solid transparent;
}

.kaveh .k-optn-item:hover {
    background-color: #e5f3fb;
    border-color: #26a0da;
}
/*#endregion viewbox*/

/*#region navpane*/
/*--------------------------------------------------------*/
.kaveh .k-pane {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    bottom: 0;
    /*padding: 0 15px;*/
    overflow: auto;
    background-color: white;
    border-right: 1px solid #dadbdc;
    /*z-index: 1;*/
}

@media (min-width: 768px) {
    .kaveh .k-pane {
        min-width: 201px;
    }
}

/**/
.kaveh .k-accordion {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    /*color: white;*/
    overflow: hidden;
}

.kaveh .k-accordion-open {
    height: auto;
}

.kaveh .k-accordion > li > div {
    margin: 0;
    cursor: pointer;
    border: 1px solid white;
}

.kaveh .k-accordion > li > div:hover {
    background-color: #e5f3fb;
    border-color: #26a0da;
}

.kaveh .k-accordion > li > div > span,
.kaveh .k-accordion > li > div > label {
    position: relative;
    height: 19px;
    line-height: 19px;
    margin: 0;
    font-weight: normal;
}

.kaveh .k-accordion > li > div > span {
    color: darkgray;
}

.kaveh .k-accordion > li > div > span:hover {
    color: #27c7f7;
}

.kaveh .k-accordion > li > div > label {
    margin-left: 20px;
}

.kaveh .k-accordion > li > div > label:before {
    position: absolute;
    top: 0;
    left: -15px;
    height: 19px;
    line-height: 19px;
    font-family: "Glyphicons Halflings";
    content: "\e117";
}

/*.glyphicon-folder-close:before {
    content: "\e117";
}

.glyphicon-folder-open:before {
    content: "\e118";
}*/
/**/

.kaveh .k-pane-item {
    position: relative;
}

.kaveh .k-pane-name {
    border: 1px solid transparent;
}

.kaveh .k-pane-name:hover {
    background-color: #e5f3fb;
    border-color: #26a0da;
}

.kaveh .k-pane-name > div {
    position: relative;
    height: 19px;
}

.kaveh .k-pane-text {
    position: relative;
    height: 19px;
    line-height: 19px;
    cursor: pointer;
}

.kaveh .k-pane-icon {
    position: absolute;
    display: block;
    width: 16px;
    height: 19px;
    top: 0;
    left: -18px;
    color: #E0C67E;
    line-height: 19px;
}

.kaveh .k-pane-toggle {
    position: absolute;
    width: 19px;
    height: 19px;
    left: -34px;
    font-size: smaller;
    line-height: 19px;
    text-align: center;
    color: darkgray;
    cursor: default;
    transform-origin: center center;
}

.kaveh .k-pane-rotate {
    color: black;
    transform: rotate(90deg);
}

.kaveh .k-pane-toggle:hover {
    color: #27c7f7;
}

.kaveh .k-pane-drawer {
    overflow: hidden;
}

.kaveh .k-pane-close {
    height: 0;
}
/*#endregion navpane*/

/*#region status bar*/
/*--------------------------------------------------------*/
.kaveh .k-status-bar {
    padding-top: 5px;
    padding-bottom: 5px;
    /*background-color: #f5f6f7;
    border-top: 1px solid #dadbdc;*/
}
/*#endregion status bar*/

/*#region choose bar*/
/*--------------------------------------------------------*/
.kaveh .k-choose-bar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f5f6f7;
    border-top: 1px solid #dadbdc;
}
/*#endregion choose bar*/

.kaveh .k-upload-section {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: -15px;
    right: -15px;
    overflow: auto;
    background-color: rgb(48, 54, 65);
    background-color: rgba(48, 54, 65, 0.8);
    z-index: 99;
}

.kaveh .k-upload-tools {
    padding-top: 15px;
}

.kaveh .k-upload-form {
    border: none;
    background: transparent;
    padding: 0;
    min-height: 80%;
    min-height: calc(100% - 64px);
}

.kaveh .dropzone .dz-message {
    margin: 0;
    color: #f0f0f0;
}

.kaveh .dropzone .dz-message p {
    margin: 0;
}

.kaveh .dropzone .dz-message .glyphicon {
    font-size: 166px;
    padding: 15px 0;
}

/*#region modal*/

/*.kaveh-modal .modal-dialog {
    width: 1062px;
}*/

.kaveh-modal .modal-content {
    border-color: #bce8f1;
    overflow: auto;
}

.kaveh-modal .modal-header {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.kaveh-modal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

/*#endregion modal*/
