<div class="row k-address-bar">
    <!-- search -->
    @*<div class="col-sm-3">
        <div class="input-group input-group-sm">
            <span class="input-group-btn">
                <button title="جست‌وجو" class="btn btn-default k-search" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
            <input type="text" class="form-control k-search-input" style="margin-right: -1px;" placeholder="جست‌وجو...">
        </div>
    </div>*@
    <!-- breadcrumb -->
    <div class="col-sm-12">
        <div class="input-group input-group-sm">
            <span class="input-group-btn">
                <button title="بارگذاری دوباره" type="button" class="btn btn-sm btn-default k-refresh"><span class="glyphicon glyphicon-refresh"></span></button>
                <button title="برو" type="button" class="btn btn-sm btn-default k-go"><span class="glyphicon glyphicon-arrow-right"></span></button>
            </span>
            <input type="text" class="form-control k-breadcrumb" dir="ltr">
            <span class="input-group-btn">
                <button title="خانه" type="button" class="btn btn-sm btn-default k-home-directory"><span class="glyphicon glyphicon-home"></span></button>
                <button title="بالا" type="button" class="btn btn-sm btn-default k-parent-directory"><span class="glyphicon glyphicon-arrow-up"></span></button>
                <button title="بعدی" type="button" class="btn btn-sm btn-default k-history-forward"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
                <button title="قبلی" type="button" class="btn btn-sm btn-default k-history-back"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
            </span>
        </div>
    </div>
    <!-- /breadcrumb -->
</div>