<div class="row k-choose-bar">
    <div class="col-sm-12">
        <div class="btn-group btn-group-sm k-choose-section pull-left" role="group">
            <button title="انتخاب" type="button" class="btn btn-success k-choose"><span class="glyphicon glyphicon-check"></span> انتخاب</button>
            <button title="ولش کن" type="button" class="btn btn-default k-cancel"><span class="glyphicon glyphicon-off"></span> ولش کن</button>
        </div>
    </div>
</div>