<div class="row k-tool-bar">
    <div class="col-sm-12">
        <div class="btn-toolbar" role="toolbar">
            <!-- button group -->
            <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <button title="ساختن" class="btn btn-sm btn-default dropdown-toggle" type="button" id="k-add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;<span class="caret"></span></button>
                    <button title="بارگذاری" type="button" class="btn btn-sm btn-primary k-upload"><span class="glyphicon glyphicon-cloud-upload"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="k-add">
                        <li class="k-add-file"><a><span class="glyphicon glyphicon-file"></span> فایل جدید</a></li>
                        <li class="k-add-folder"><a><span class="glyphicon glyphicon-folder-open"></span> فولدر جدید</a></li>
                    </ul>
                </div>
            </div>
            <!-- button group -->
            <div class="btn-group" role="group">
                <button title="انتخاب همه" type="button" class="btn btn-sm btn-default k-select-all"><span class="glyphicon glyphicon-check"></span></button>
                <button title="ول‌کردن همه" type="button" class="btn btn-sm btn-default k-deselect-all"><span class="glyphicon glyphicon-unchecked"></span></button>
                <button title="انتخاب برعکس" type="button" class="btn btn-sm btn-default k-invert-selection"><span class="glyphicon glyphicon-flash"></span></button>
            </div>
            <!-- button group -->
            @*<div class="btn-group k-current-view-section" role="group">
            <div class="btn-group" role="group">
                <button title="مرتب‌کردن" class="btn btn-sm btn-default dropdown-toggle" type="button" id="k-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-sort"></span>&nbsp;&nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="k-sort">
                    <li class="k-sort-name"><a>براساس نام</a></li>
                    <li class="k-sort-type"><a>براساس نوع</a></li>
                    <li class="k-sort-size"><a>براساس اندازه</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button title="غربال" class="btn btn-sm btn-default dropdown-toggle" type="button" id="k-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="k-filter">
                    <!-- will be filled automatically -->
                </ul>
            </div>
        </div>*@
            <!-- button group -->
            @*<div class="btn-group" role="group">
            <button title="کاشی بزرگ" type="button" class="btn btn-sm btn-default k-view-tile-large"><span class="glyphicon glyphicon-th-large"></span></button>
            <button title="کاشی کوچک" type="button" class="btn btn-sm btn-default k-view-tile-small"><span class="glyphicon glyphicon-th"></span></button>
            <button title="با جزییات" type="button" class="btn btn-sm btn-default k-view-detalis"><span class="glyphicon glyphicon-th-list"></span></button>
        </div>*@
            <!-- button group -->
            <div class="btn-group" role="group">
                <button title="تغییر نام" type="button" class="btn btn-sm btn-default k-rename"><span class="glyphicon glyphicon-pencil"></span></button>
                @*<button title="کپی آدرس" type="button" class="btn btn-sm btn-default k-link"><span class="glyphicon glyphicon-paperclip"></span></button>*@
                <button title="لینک دریافت" type="button" class="btn btn-sm btn-default k-download-link"><span class="glyphicon glyphicon-link"></span></button>
                <button title="دریافت" type="button" class="btn btn-sm btn-default k-download"><span class="glyphicon glyphicon-cloud-download"></span></button>
                @*<button title="کپی" type="button" class="btn btn-sm btn-default k-copy"><span class="glyphicon glyphicon-duplicate"></span></button>*@
                @*<button title="کات" type="button" class="btn btn-sm btn-default k-cut"><span class="glyphicon glyphicon-scissors"></span></button>*@
                <button title="حذف" type="button" class="btn btn-sm btn-danger k-remove"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </div>
</div>