<div class="k-upload-section clearfix">
    <div class="k-upload-tools col-sm-12">
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-success k-upload-submit"><span class="glyphicon glyphicon-cloud-upload"></span> بارگذاری</button>
            <button type="button" class="btn btn-default k-upload-cancel"><span class="glyphicon glyphicon-off"></span> بستن</button>
        </div>
    </div>
    <div class="col-sm-12">
        <form dir="ltr" class="k-upload-form dropzone" enctype="multipart/form-data">
            <div class="dz-message">
                <p dir="rtl" class="text-center">
                    فایل‌ها را بکشید و اینجا رها کنید
                    <br />
                    یا کلیک کنید
                    <br />
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    <br />
                    <br />
                    حداکثر حجم فایل: ۲۰ مگابایت. برای آپلود فایل‌های بزرگتر از FTP استفاده کنید.
                    <br />
                    اگر با FTP آشنایی ندارید، با برنامه‌نویس تماس بگیرید.
                </p>
            </div>
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
</div>